* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  position: fixed;
  background-color: #2a607c;
  color: white;
  width: 100%;
  overflow: auto;
  height: 75px;
  border-bottom: 10px solid lightgray;
  overflow: hidden;
}
nav h1 {
  flex: 1;
  align-self: center;
}

nav a {
  color: white;
  text-decoration: none;
  overflow: auto;
}

nav ul {
  display: flex;
  align-items: center;
  font-size: large;
}
nav li {
  list-style: none;
  padding: 10px;
}

nav li:hover {
  cursor: pointer;
  text-decoration: 1px solid lightgray underline;
}

.padding-top {
  padding-top: 100px;
}

.info-section {
  margin: 0 50px;
  display: flex;
}

.info-header {
  font-size: xx-large;
  text-align: right;
  padding-right: 10px;
  width: 125px;
  color: #2a607c;
}

.info-content {
  border-left: 3px solid lightgray;
  padding-left: 10px;
  flex: 1;
  justify-content: space-between;
}

.card-container {
  display: flex;
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 300px;
  height: 150px;
  margin: 0 50px;
}

.card:nth-child(1) {
  background-image: url("../images/Screenshot-of-page.png");
  background-position: center;
  background-size: cover;
  width: 100%;
}

a.card {
  text-decoration: none;
  background-color: #2a607c;
}

article p {
  background-color: lightgray;
  color: #2a607c;
  position: relative;
  top: 50%;
}

#ul-flex {
  display: flex;
  align-items: center;
}

#ul-flex li {
  list-style: none;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 75px;
}

#ul-flex li a {
  text-decoration: none;
  color: black;
}

#phone::before {
  content: "📱";
}
#email::before {
  content: "📧";
}
#github::before {
  content: "💻";
}

@media (max-width: 1225px) {
  .card-container {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 800px) {
  #ul-flex {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 5px;
  }
  #ul-flex li {
    padding-bottom: 10px;
    padding-right: 0;
  }
}

@media (max-width: 520px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  .info-section {
    flex-direction: column;
    margin: 0 5px;
  }
  .info-header {
    text-align: left;
    font-size: x-large;
    padding-bottom: 10px;
    width: fit-content;
  }
  .info-content {
    padding-right: 13px;
  }
  #ul-flex {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 5px;
  }
  #ul-flex li {
    padding-bottom: 10px;
  }
}
